$transition: 0.3s;

$primary: #FF6200;
$secondary: #BAC2CA;
$success: #00A480;
$info: #009CDC;
$warning:#FFB400;
$danger: #ff2949;
$light: #F6F7F9;
$dark: #4F5A63;
$black: #000;
$btn-box-shadow-none: none;
//font-size
$font-size-base: .9rem;

// component
$border-radius: .1rem;
$border-radius-lg: .2rem;
$border-radius-sm: .1rem;


// breadcrumb
$breadcrumb-divider: "";

// card 
$card-border-color: rgba($black, .125);