$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$grays: ();
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(("100": $gray-100,
"200": $gray-200,
"300": $gray-300,
"400": $gray-400,
"500": $gray-500,
"600": $gray-600,
"700": $gray-700,
"800": $gray-800,
"900": $gray-900),
$grays);

$transition: 0.3s;

$primary: #FF6200;
$secondary: $gray-400;
$success: #00A480;
$info: #009CDC;
$warning:#FFAA00;
$danger: #E60042;
$light: #F6F7F9;
$dark: #4F5A63;
$black: #000;

$blue: #2196f3;
$purple: #8e24aa;
$tea:#00897b;

$skin-dark:#2b2f3a;

$body-bg: #f5f5f5 !important;

$btn-box-shadow-none: none;
$border-width: 1px;
//input
$input-bg: $gray-200;
$input-border-color: $gray-300;

//button
$input-btn-padding-y: .375rem;
$input-btn-padding-x: .75rem;

//font-size
$font-size-base: 0.875rem;

// component
$border-radius: .1rem;
$border-radius-lg: .2rem;
$border-radius-sm: .1rem;

// breadcrumb
$breadcrumb-divider: "";

// card 
$card-border-color: rgba($black, .125);

// modal
$modal-content-border-radius: $border-radius;
$modal-content-box-shadow-xs: 0 .25rem .5rem rgba($black, .7);
$modal-content-box-shadow-sm-up: 0 .5rem 1rem rgba($black, .7);
