$yellow: #fbc02d;

.yellow-skin-dark,
.yellow-skin-light {
  .left-sidebar {
    .sidebar-header {
      .logo {
        background: $yellow;
      }
    }
  }
}

.yellow-skin-light {
  .topbar .top-navbar {
    background-color: $yellow;
    transition: all $transition;

    .nav-item {
      .nav-link {
        color: #353535;

        &:hover,
        &.active {
          color: #151515;
        }
      }
    }
  }

  .left-sidebar {
    background: $white;
    transition: all $transition;

  }
}

.yellow-skin-dark {
  .topbar .top-navbar {
    background-color: $yellow;
    transition: all $transition;

    .nav-item {
      .nav-link {
        color: #353535;

        &:hover,
        &.active {
          color: #151515;
        }
      }
    }
  }

  .left-sidebar {
    background-color: $skin-dark;
    transition: all $transition;

  }
}
