//dark skin
.white-skin-light {
  .topbar .top-navbar {
    background-color: $white;
    transition: all $transition;

  }

  .left-sidebar {
    background: $white;
    transition: all $transition;

  }

}

// light skin
.white-skin-dark {
  .topbar .top-navbar {
    background-color: $white;
    transition: all $transition;

  }

  .left-sidebar {
    background-color: $skin-dark;
    transition: all $transition;

  }

}
